{% extends "base.html" %} {% block content %}
<h2>{{user_name}}'s Dashboard</h2>
<h6 style="color: grey">
  Don't forget to refresh the data to update weather info
</h6>

{% if favorites|length == 0 %}
<h3 style="margin-left: 10%">Get searching!</h3>
<form id="search-form" class="mt-4">
  <div class="input-group">
    <input
      type="text"
      name="city-search"
      id="city-search"
      class="form-control"
      placeholder="City name.."
      autocomplete="off"
    />
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div id="suggestions" class="list-group mt-2"></div>
</form>
<div id="weather-data" class="mt-4"></div>
{% else %}
<div id="favorites-container" class="mt-4">
  {% for favorite in favorites %}
  <div
    class="card weather-card favorite-card"
    data-city="{{ favorite.city_name }}"
  >
    <div class="card-body">
      <h3 class="card-title">{{ favorite.city_name }}</h3>
      <p class="card-text" id="temp-{{ favorite.city_name }}">
        Temperature: -- °C
      </p>
      <p class="card-text" id="desc-{{ favorite.city_name }}">Weather: --</p>
      <img src="" alt="Weather Icon" id="icon-{{ favorite.city_name }}" />
      <br />
      <button
        class="btn btn-primary mt-2 refresh-weather"
        data-city="{{ favorite.city_name }}"
        data-lat="{{ favorite.lat }}"
        data-lon="{{ favorite.lon }}"
      >
        <i class="fas fa-sync-alt"></i>
      </button>
      <button
        class="btn btn-danger mt-2 delete-favorite"
        data-city="{{ favorite.city_name }}"
      >
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
